.case-content {
	height: 300px;
	background-image: url("//14517553.s61i.faiusr.com/2/AD0IsYr2BhACGAAgto_2zAUo-OmsRTCADzisAg.jpg");
}
.case-item{
	padding-bottom: 50px;
}
.case-item-content {
	width: 1200px;
	margin: 0 auto;
	margin-top: 10px;
}

.case-item-content {
	display: flex;
}

.case-item-left {
	width: 380px !important;
}

.case-item-left h3 {
	font-size: 16px;
	color: #fff;
	background: #2b2b2b;
	height: 45px;
	line-height: 45px;
	text-indent: 10px;
}

.left-item1,
.left-item2 {
	border: 1px solid #eee;
	width: 218px;
}
.left-item1{
	margin-bottom: 30px;
	padding-bottom: 10px;
}

.left-item1 p:nth-of-type(1){
	font-weight: bold;
}
.left-item1 p {
	height: 30px;
	line-height: 30px;
	text-indent: 10px;
}

.left-item2 a {
	display: inline-block;
	height: 45px;
	line-height: 45px;
	width: 100%;
	text-indent: 30px;
	color: #555555;
}
.left-item2 a:hover{
	color: #000000;
}



.case-img-list ul {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	text-align: center;
	width: 955px;
}

.case-img-list li {
	margin-top: 30px;
}
.case-img-list p{
	font-size: 14px;
	margin-top: 10px;
}
.case-right-title {
	border-bottom: 1px solid #eee;
	margin: 10px 0;
}

.case-right-title p {
	font-size: 16px;
	padding: 5px 5px;
	display: inline-block;
	border-bottom: 1px solid #000000;
	
}
.img-list-img{
	width: 301px;height: 206px;
	overflow: hidden;
}

.case-item-right {
	margin-left: 20px;
	margin-top: 30px;
}
.case-img-list img:hover{
	transform: scale(1.1);
	transition: 800ms all;s
}
