html {
	min-width: 1903px;
}

.logo,
.logo-left,
.logo-right {
	display: flex;
}



.logo {
	width: 1200px;
	margin: 0 auto;
}

.logo-left {
	white-space: nowrap;
	min-width: 405px;
}

.logo-left-img img {
	width: 105px;
	height: 97px;
}

.logo-right img {
	width: 58px;
	height: 58px;
}

.logo-left-text {
	font-size: 30px;
	font-weight: bold;
	color: rgb(9, 101, 172);
	line-height: 97px;
}

.logo-center {
	margin-left: 100px;
	vertical-align: middle;
	line-height: 25px;
	min-width: 290px;
	max-width: 1440px;
	white-space: nowrap;
}

.logo-center div:nth-of-type(1) {
	margin-top: 20px;
}

.logo-right {
	margin-left: 30px;
	margin-top: 20px;
	min-width: 10px;
	max-width: 1440px;
	white-space: nowrap;
}
}

.logo-right-text {
	margin-left: 10px;
}

.logo-right-text p:nth-of-type(1) {
	font-size: 14px;
}

.logo-right-text p:nth-of-type(2) {
	color: rgb(228, 57, 60);
	font-weight: bold;
	font-style: italic;
	font-size: 36px;
	cursor: move;
}


.tabar {
	background-color: black;
	min-width: 1024px;
}

.taber_item {
	display: flex;
	width: 1200px;
	margin: 0 auto;
	text-align: center;
	color: #fff;
}

.taber_item>li a {
	color: #fff;
	width: 100%;
	display: inline-block;
	height: 100%;
}

.taber_item>li {
	height: 50px;
	line-height: 50px;
	width: 100px;
	text-decoration: none;
	font-size: 16px;
	font-weight: normal;
	font-family: 微软雅黑;
	margin: 0 10px;
}

.taber_item li:hover {
	background-color: #f13a3a;
	background-size: 100% 100%;
}

.showlist {
	display: none;
	position: relative;
	z-index: 20;
	margin: 0 !important;
	background: #f13a3a;
}

.showlist li:hover {
	background-color: #980000;
}

.activea {
	background: #f13a3a
}


/* 底部 */

.footer {
	background-color: #020202;
}

.footer-content {
	display: flex;
	justify-content: space-between;
	color: #fff;
	width: 1200px;
	margin: 0 auto;
	border-bottom: 2px solid #eee;
}


.footer-list {
	display: flex;
	line-height: 30px;
	text-align: center;
	padding: 20px 0;
}

.footer-list p {
	font-size: 18px;
	color: #fff;
}

.footer-list a {
	font-size: 14px;
	color: rgb(153, 153, 153)
}

.footer-list-item1 {
	width: 121px;
	margin-right: 30px;
}

.footer-list-item2,
.footer-list-item3,
.footer-list-item4 {
	width: 162px;
}

.shop-number {
	float: right;
	padding: 20px 0;
}

.shop-number p:nth-of-type(1) {
	font-size: 16px;
	color: rgb(247, 247, 247);
}

.shop-number p:nth-of-type(2) {
	font-size: 36px;
	font-style: italic;
	color: rgb(228, 57, 60);
}

.dizhi {
	display: flex;
	padding: 20px;
	width: 1200px;
	margin: 0 auto;
	justify-content: space-between;
	font-size: 16px;
	color: rgb(124, 124, 124);
}

.text-btn a {
	font-size: 16px;
	color: rgb(124, 124, 124);
	margin-left: 20px;
}
