.journalism{
	height: 300px;
	background-image: url("//14517553.s61i.faiusr.com/2/AD0IsYr2BhACGAAgtOS6zAUogdT19QIwgA84rAI.jpg");
}

.journalism-cotent{
	width: 1200px;
	margin: 0 auto;
	display: flex;
	margin-bottom: 20px;
}


.journalism-left{
	width: 220px;
	margin-top: 10px;
}
.journalism-left h3{
	font-size: 16px;
	color: #fff;
	background: #2b2b2b;
	height: 45px;
	line-height: 45px;
	text-indent: 10px;
}
.journalism-left-footer{
	border: 1px solid #eee;
	text-indent: 10px;
}
.journalism-left-top{
	padding-bottom: 10px;
	border: 1px solid #eee;
	margin-bottom: 40px;
}
.journalism-left-top p{
	height: 30px;
	line-height: 30px;
	text-indent: 10px;
	color: rgb(102, 102, 102);
}
.journalism-left-top p:nth-of-type(1){
	color: #000000;
	font-weight: bold;
}


.journalism-left-footer a{
	display: inline-block;
	padding: 15px 0;
	width: 90%;
	height: 100%;
	color: #000000;
	border-bottom: 1px dashed #eee;
}

.journalism-right{
	width: 955px;
	margin-left: 20px;
	margin-top: 30px;
}
.journalism-right li a{
	display:inline-block;
	padding: 10px 0;
	font-size: 14px;
	color: #000;
	width: 100%;
	border-bottom: 1px dashed #eee;
}.journalism-right li a:hover{
	color: red;
}
.journalism-right-title{
	border-bottom: 1px solid #eee;
}
.journalism-right-title p{
	display: inline-block;
	border-bottom: 1px solid #000000;
	font-size: 16px;
	padding: 10px;
}

.activeas{
	color: red !important;
}