<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" type="text/css" href="../../css/initialize.css" />
		<link rel="stylesheet" type="text/css" href="../../css/headerFooter.css" />
		<link rel="stylesheet" type="text/css" href="../../css/my.css" />
			<script type="text/javascript" src="//api.map.baidu.com/api?type=webgl&v=1.0&ak=sv5CS9mvCfGTW8samUyD0SbLRcpspS4n"></script>
		<title>联系我们</title>
	</head>
	<body>
		<div class="case">
			<div class="topImg">
				<div class="logo">
					<div class="logo-left set">
						<div class="logo-left-img">
							<img src="//16864174.s21i.faiusr.com/2/ABUIABACGAAg1O6Y_gUorLXoxwQwtwE4qQE.jpg" alt="">
						</div>
						<div class="logo-left-text">
							<p>深圳中航建设有限公司</p>
						</div>
					</div>
					<div class="logo-center">
						<div><img src="//14517553.s61i.faiusr.com/4/AD0IsYr2BhAEGAAg4920zAUoiOa1_AYwjQI4Gg.png.webp" alt="">
						</div>
						<div>
							<p>品质为上、精益求精、安全守信、永续创新</p>
						</div>
					</div>
					<div class="logo-right">
						<div><img src="//14517553.s61i.faiusr.com/4/AD0IsYr2BhAEGAAgvt60zAUomKvG_gIwOjg6.png" alt=""></div>
						<div class="logo-right-text">
							<p>全国免费咨询热线：</p>
							<p>000-0000000</p>
						</div>
					</div>
				</div>

				<div class="tabar">
					<ul class="taber_item">
						<li><a href="../../index.html">首页</a></li>
						<li><a href="../serve/serve.html">服务范围</a></li>
						<li><a href="../case/case.html">工程案例</a></li>
						<li><a href="../journalism/journalism.html">新闻动态</a></li>
						<li><a href="../message/message.html">招聘信息</a></li>
						<li id="tabli" class="activea">
							关于我们
							<ul class="showlist">
								<li><a href="introduce.html">公司介绍</a></li>
								<li><a href="culture.html">企业文化</a></li>
								<li><a href="relation.html">联系我们</a></li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
			<!-- 头部结束 -->

			<div class="relation"></div>
			<div class="culture-content">
				<div class="culture-content-item">
					<div class="culture-item1">
						<div class="item1-dizhi">
							<h3>联系我们</h3>
							<p>Construction Engineering</p>
							<p>全国热线：000-000000</p>
							<p>地址：xx省xx市xx县xx路xx号</p>
							<p>邮箱：xxx@.co.m</p>
						</div>
						<div class="item1-link">
							<h3>关于我们</h3>
						<div><a href="introduce.html">公司介绍</a></div>
						<div><a href="culture.html">企业文化</a></div>
						<div><a href="relation.html" class="active-list">联系我们</a></div>
						</div>
					</div>
					<div class="culture-item2">
						<div class="item-title">
							<p>联系我们</p>
						</div>
						<div class="culture-item-list">
							<div class="relation-list">
								
								<div class="relation-item">
									<div><img src="//14517553.s61i.faiusr.com/4/AD0IsYr2BhAEGAAgl4u2zAUoloasNDBQOFA.png.webp" alt=""></div>
									<p>联系邮箱：xxx@.co.m</p>
								</div>
								<div class="relation-item">
									<div><img src="//14517553.s61i.faiusr.com/4/AD0IsYr2BhAEGAAg9Iu2zAUozL-h6gYwUDhQ.png.webp" alt=""></div>
									<p>联系电话：000-000-0000</p>
								</div>
								<div class="relation-item">
									<div><img src="//14517553.s61i.faiusr.com/4/AD0IsYr2BhAEGAAg_ou2zAUo2PfniAEwUDhQ.png.webp" alt=""></div>
									<p>联系地址：XX省XX市XX县XX路XX号</p>
								</div>
								
							</div>
							
							<div id="allmap"></div>
						</div>
					</div>
				</div>
			</div>


			<!-- 底部开始	 -->
			<div class="footer">
				<div class="footer-content">
					<div class="footer-list">
						<ul class="footer-list-item1">
							<li>
								<p>关于我们</p>
							</li>
							<li><a href="">公司介绍</a></li>
							<li><a href="">企业文化</a></li>
							<li><a href="">公司环境</a></li>
							<li><a href="">公司荣誉</a></li>
						</ul>
						<ul class="footer-list-item2">
							<li>
								<p>工程案例</p>
							</li>
							<li><a href="">建筑幕墙工程</a></li>
							<li><a href="">建筑装饰装修</a></li>
							<li><a href="">刚结构工程</a></li>
							<li><a href="">电子与智能工程</a></li>
							<li><a href="">防水防腐保温工程</a></li>
						</ul>
						<ul class="footer-list-item3">
							<li>
								<p>新闻动态</p>
							</li>
							<li><a href="">公司新闻</a></li>
							<li><a href="">行业新闻</a></li>
							<li><a href="">常见问题</a></li>
						</ul>
						<ul class="footer-list-item4">
							<li>
								<p>联系我们</p>
							</li>
							<li><a href="">在线留言</a></li>
							<li><a href="">联系方式</a></li>
						</ul>
					</div>
					<div class="shop-number">
						<p>服务热线</p>
						<p>000-0000000</p>
					</div>
				</div>
				<div class="dizhi">
					<div>
						<p>联系地址：XXX省XXX市XXX县XXX路XXX号</p>
					</div>
					<div class="text-btn"><a href="">关于我们</a><a href="">在线留言</a></div>
				</div>
			</div>
		</div>

		<script src="https://s3.pstatp.com/cdn/expire-1-M/jquery/3.2.1/jquery.min.js"></script>
		<script src="../../js/headerFooter.js"></script>
		<script>
			// 百度地图API功能
				var map = new BMapGL.Map("allmap");
				var point = new BMapGL.Point(116.404, 39.915);
				map.centerAndZoom(point, 15);
				
				// 创建小车图标
				var pt = new BMapGL.Point(116.417, 39.909);
				var myIcon = new BMapGL.Icon("/jsdemo/img/car.png", new BMapGL.Size(52, 26));
				var marker = new BMapGL.Marker(pt, {
					icon: myIcon
				});  // 创建标注
				map.addOverlay(marker);              // 将标注添加到地图中
				map.enableScrollWheelZoom(true);
		</script>

	</body>
</html>
