<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" type="text/css" href="../../css/initialize.css" />
		<link rel="stylesheet" type="text/css" href="../../css/headerFooter.css" />
		<link rel="stylesheet" type="text/css" href="../../css/serve.css" />
		<title>服务范围</title>
	</head>
	<body>
		<div class="serve">
			<div class="topImg">
				<div class="logo">
					<div class="logo-left set">
						<div class="logo-left-img">
							<img src="//16864174.s21i.faiusr.com/2/ABUIABACGAAg1O6Y_gUorLXoxwQwtwE4qQE.jpg" alt="">
						</div>
						<div class="logo-left-text">
							<p>深圳中航建设有限公司</p>
						</div>
					</div>
					<div class="logo-center">
						<div><img src="//14517553.s61i.faiusr.com/4/AD0IsYr2BhAEGAAg4920zAUoiOa1_AYwjQI4Gg.png.webp" alt="">
						</div>
						<div>
							<p>品质为上、精益求精、安全守信、永续创新</p>
						</div>
					</div>
					<div class="logo-right">
						<div><img src="//14517553.s61i.faiusr.com/4/AD0IsYr2BhAEGAAgvt60zAUomKvG_gIwOjg6.png" alt=""></div>
						<div class="logo-right-text">
							<p>全国免费咨询热线：</p>
							<p>000-0000000</p>
						</div>
					</div>
				</div>

				<div class="tabar">
					<ul class="taber_item">
						<li><a href="../../index.html">首页</a></li>
						<li class="activea"><a href="serve.html">服务范围</a></li>
						<li><a href="../case/caselist.html?fatherID=1">工程案例</a></li>
						<li><a href="../journalism/journalism.html">新闻动态</a></li>
						<li><a href="../message/message.html">招聘信息</a></li>
						<li id="tabli">
							关于我们
							<ul class="showlist">
								<li><a href="../my/introduce.html">公司介绍</a></li>
								<li><a href="../my/culture.html">企业文化</a></li>
								<li><a href="../my/relation.html">联系我们</a></li>
							</ul>
						</li>
					</ul>
				</div>
				<!-- 头部结束 -->
			</div>

			<div class="serve-tab-img"></div>

			<div class="serve-item">
				<div class="serve-item-content">
					<div class="serve-item-left">
						<div>
							<h3>联系我们</h3>
							<p>Construction Engineering</p>
							<p>全国热线：000-000000</p>
							<p>地址：xx省xx市xx县xx路xx号</p>
							<p>邮箱：xxx@.co.m</p>
						</div>
					</div>
					<div class="serve-item-right">
						<div>
							<p>服务范围</p>
						</div>
						<ul class="serve-item-ul">
							<li>
								<div class="serve-ul-img">
									<img src="//14517553.s61i.faiusr.com/2/AD0IsYr2BhACGAAg0p22zAUotMb52AMwrAI4tgE.jpg" alt="">
								</div>
								<div class="serve-ul-text">
									<h4>房屋建筑工程</h4>
									<p></p>
									<p>建筑幕墙指的是建筑物不承重的外墙护围，通常由面板（玻璃、金属板、石板、陶瓷板等）和后面的支承结构（铝横梁立柱、钢结构、玻璃肋等等）组成。</p>
								</div>
							</li>

							<li>
								<div class="serve-ul-img">
									<img src="//14517553.s61i.faiusr.com/2/AD0IsYr2BhACGAAglKO2zAUoiPuPjQEwrAI4tgE.jpg" alt="">
								</div>
								<div class="serve-ul-text">
									<h4>钢结构工程</h4>
									<p></p>
									<p>是指对住宅、桥梁、体育馆、寺庙等等用石材，木材等建筑材料搭建的一种供人居住和使用的物体用各种材料对其进行外部面貌或者内部环境的美化和改进，使其更具有情调，更同时具有居住和商业价值。</p>
								</div>
							</li>

							<li>
								<div class="serve-ul-img">
									<img src="//14517553.s61i.faiusr.com/2/AD0IsYr2BhACGAAgnaO2zAUohPiu-QUwrAI4tgE.jpg" alt="">
								</div>
								<div class="serve-ul-text">
									<h4>市政公用工程</h4>
									<p></p>
									<p>幕墙由面板和支承结构体系组成的，可相对主体结构有一定位移能力或自身有一定变形能力、不承担主体结构所作用的建筑外围护结构或装饰性结构（外墙框架式支撑体系也是幕墙体系的一种）。</p>
								</div>
							</li>

							<li>
								<div class="serve-ul-img">
									<img src="//14517553.s61i.faiusr.com/2/AD0IsYr2BhACGAAgpqO2zAUossfS3wEwrAI4tgE.jpg" alt="">
								</div>
								<div class="serve-ul-text">
									<h4>公路工程</h4>
									<p></p>
									<p>道路照明（road lighting），在道路上设置照明灯具为在夜间给车辆和行人提供必要的能见度。道路照明可以改善交通条件，减轻驾驶员疲劳，并有利于提高道路通行能力和保证交通安全，此外，还可美化市容。</p>
								</div>
							</li>
							<li>
								<div class="serve-ul-img">
									<img src="//14517553.s61i.faiusr.com/2/AD0IsYr2BhACGAAgtKO2zAUosJbxjgUwrAI4tgE.jpg" alt="">
								</div>
								<div class="serve-ul-text">
									<h4>光伏设备开发</h4>
									<p></p>
									<p>光伏设备行业作为光伏产业的支撑行业而存在，我国作为全球较大的太阳能电池生产国，太阳能电池行业发展带动了光伏产业的整体兴起，进而催生了我国的光伏设备行业。而凭借在半导体设备制造领域丰富的技术经验积累，我国企业在光伏设备领域很快实现突破。</p>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="footer">
				<div class="footer-content">
					<div class="footer-list">
						<ul class="footer-list-item1">
							<li>
								<p>关于我们</p>
							</li>
							<li><a href="../my/introduce.html">公司介绍</a></li>
							<li><a href="../my/culture.html">企业文化</a></li>
							<li><a href="">公司环境</a></li>
							<li><a href="">公司荣誉</a></li>
						</ul>
						<ul class="footer-list-item2">
							<li>
								<p>工程案例</p>
							</li>
							<li><a href="../case/caselist.html?fatherID=1">建筑幕墙工程</a></li>
							<li><a href="../case/caselist.html?fatherID=2">建筑装饰装修</a></li>
							<li><a href="../case/caselist.html?fatherID=3">钢结构工程</a></li>
							<li><a href="../case/caselist.html?fatherID=4">电子与智能工程</a></li>
							<li><a href="../case/caselist.html?fatherID=5">防水防腐保温工程</a></li>
						</ul>
						<ul class="footer-list-item3">
							<li>
								<p>新闻动态</p>
							</li>
							<li><a href="../journalism/company.html">公司新闻</a></li>
							<li><a href="../journalism/industry.html">行业新闻</a></li>
							<li><a href="../journalism/common.html">常见问题</a></li>
						</ul>
						<ul class="footer-list-item4">
							<li>
								<p>联系我们</p>
							</li>
							<li><a href="../my/relation.html">联系方式</a></li>
						</ul>
					</div>
					<div class="shop-number">
						<p>服务热线</p>
						<p>000-0000000</p>
					</div>
				</div>
				<div class="dizhi">
					<div>
						<p>联系地址：XXX省XXX市XXX县XXX路XXX号</p>
					</div>
					<div class="text-btn"><a href="">关于我们</a></div>
				</div>
			</div>
			<div class="footer-bottom">
				<div class="footer-bottom-item">
					<p>
						<span><a href="">手机版</a><span>|</span><span>本站使用</span></span>
						<span><a href=""><span class="security"></span>发就发吧</a></span>
					</p>
				</div>
			</div>

		</div>

		<script src="https://s3.pstatp.com/cdn/expire-1-M/jquery/3.2.1/jquery.min.js"></script>
		<script src="../../js/headerFooter.js"></script>
		<script>

		</script>
	</body>
</html>
