<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" type="text/css" href="../../css/initialize.css" />
		<link rel="stylesheet" type="text/css" href="../../css/headerFooter.css" />
		<link rel="stylesheet" type="text/css" href="../../css/case.css" />
		<title>工程案例</title>
	</head>
	<body>
		<div class="case">
			<div class="topImg">
				<div class="logo">
					<div class="logo-left set">
						<div class="logo-left-img">
							<img src="//16864174.s21i.faiusr.com/2/ABUIABACGAAg1O6Y_gUorLXoxwQwtwE4qQE.jpg" alt="">
						</div>
						<div class="logo-left-text">
							<p>深圳中航建设有限公司</p>
						</div>
					</div>
					<div class="logo-center">
						<div><img src="//14517553.s61i.faiusr.com/4/AD0IsYr2BhAEGAAg4920zAUoiOa1_AYwjQI4Gg.png.webp" alt="">
						</div>
						<div>
							<p>品质为上、精益求精、安全守信、永续创新</p>
						</div>
					</div>
					<div class="logo-right">
						<div><img src="//14517553.s61i.faiusr.com/4/AD0IsYr2BhAEGAAgvt60zAUomKvG_gIwOjg6.png" alt=""></div>
						<div class="logo-right-text">
							<p>全国免费咨询热线：</p>
							<p>000-0000000</p>
						</div>
					</div>
				</div>

				<div class="tabar">
					<ul class="taber_item">
						<li><a href="../../index.html">首页</a></li>
						<li><a href="../serve/serve.html">服务范围</a></li>
						<li class="activea"><a href="../case/case.html">工程案例</a></li>
						<li><a href="../journalism/journalism.html">新闻动态</a></li>
						<li><a href="../message/message.html">招聘信息</a></li>
						<li id="tabli">
							关于我们
							<ul class="showlist">
								<li><a href="../my/introduce.html">公司介绍</a></li>
								<li><a href="../my/culture.html">企业文化</a></li>
								<li><a href="../my/relation.html">联系我们</a></li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
			<!-- 头部结束 -->

			<div class="case-content"></div>


			<div class="case-item">
				<div class="case-item-content">
					<div class="case-item-left">
						<div class="left-item1">
							<h3>联系我们</h3>
							<p>Construction Engineering</p>
							<p>全国热线：000-000000</p>
							<p>地址：xx省xx市xx县xx路xx号</p>
							<p>邮箱：xxx@.co.m</p>
						</div>
						<div class="left-item2">
							<h3>工程案例</h3>
							<p><a href="">建筑幕墙工程案例</a></p>
							<p><a href="">建筑装饰装饰</a></p>
							<p><a href="">钢结构工程</a></p>
							<p><a href="">电子与智能化工程</a></p>
							<p><a href="">防水防腐保温工程</a></p>
						</div>
					</div>
					<div class="case-item-right">
						<div class="case-right-title"><p>建筑幕墙工程案例</p></div>
						
						<div class="case-img-list">
							<ul>
								<li>
									<div class="img-list-img"><img src="//14517553.s61i.faiusr.com/2/AD0IsYr2BhACGAAgvN26zAUowNrSogMwrQI4zgE.jpg" alt=""></div>
									
									<p>私人别墅</p>
								</li>
								<li><div class="img-list-img"><img src="//14517553.s61i.faiusr.com/2/AD0IsYr2BhACGAAgvt26zAUopbG3ogIwrQI4zgE.jpg" alt=""></div>
									<p>国际图书馆</p>
								</li>
								<li><div class="img-list-img"><img src="//14517553.s61i.faiusr.com/2/AD0IsYr2BhACGAAgv926zAUoxNH2mwUwrQI4zgE.jpg" alt=""></div>
									<p>国际会展中心</p>
								</li>
								<li><div class="img-list-img"><img src="//14517553.s61i.faiusr.com/2/AD0IsYr2BhACGAAgwd26zAUo28HO4gYwrQI4zgE.jpg" alt=""></div>
									<p>展示馆</p>
								</li>
								<li><div class="img-list-img"><img src="//14517553.s61i.faiusr.com/2/AD0IsYr2BhACGAAgw926zAUowsCyugQwrQI4zgE.jpg" alt=""></div>
									<p>旅馆</p>
								</li>
								<li><div class="img-list-img"><img src="//14517553.s61i.faiusr.com/2/AD0IsYr2BhACGAAgxN26zAUomeCV3gEwrQI4zgE.jpg" alt=""></div>
									<p>国际大酒店</p>
								</li>
							</ul>
						</div>
						
					</div>
				</div>
			</div>





			<!-- 底部开始	 -->
			<div class="footer">
				<div class="footer-content">
					<div class="footer-list">
						<ul class="footer-list-item1">
							<li>
								<p>关于我们</p>
							</li>
							<li><a href="">公司介绍</a></li>
							<li><a href="">企业文化</a></li>
							<li><a href="">公司环境</a></li>
							<li><a href="">公司荣誉</a></li>
						</ul>
						<ul class="footer-list-item2">
							<li>
								<p>工程案例</p>
							</li>
							<li><a href="">建筑幕墙工程</a></li>
							<li><a href="">建筑装饰装修</a></li>
							<li><a href="">刚结构工程</a></li>
							<li><a href="">电子与智能工程</a></li>
							<li><a href="">防水防腐保温工程</a></li>
						</ul>
						<ul class="footer-list-item3">
							<li>
								<p>新闻动态</p>
							</li>
							<li><a href="">公司新闻</a></li>
							<li><a href="">行业新闻</a></li>
							<li><a href="">常见问题</a></li>
						</ul>
						<ul class="footer-list-item4">
							<li>
								<p>联系我们</p>
							</li>
							<li><a href="">在线留言</a></li>
							<li><a href="">联系方式</a></li>
						</ul>
					</div>
					<div class="shop-number">
						<p>服务热线</p>
						<p>000-0000000</p>
					</div>
				</div>
				<div class="dizhi">
					<div>
						<p>联系地址：XXX省XXX市XXX县XXX路XXX号</p>
					</div>
					<div class="text-btn"><a href="">关于我们</a><a href="">在线留言</a></div>
				</div>
			</div>
		</div>

		<script src="https://s3.pstatp.com/cdn/expire-1-M/jquery/3.2.1/jquery.min.js"></script>
		<script src="../../js/headerFooter.js"></script>

	</body>
</html>
