<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" type="text/css" href="../../css/initialize.css" />
		<link rel="stylesheet" type="text/css" href="../../css/headerFooter.css" />
		<link rel="stylesheet" type="text/css" href="../../css/messagepage.css" />
		<title>职位详情</title>
	</head>
	<body>
		<div class="case">
			<div class="topImg">
				<div class="logo">
					<div class="logo-left set">
						<div class="logo-left-img">
							<img src="//16864174.s21i.faiusr.com/2/ABUIABACGAAg1O6Y_gUorLXoxwQwtwE4qQE.jpg" alt="">
						</div>
						<div class="logo-left-text">
							<p>深圳中航建设有限公司</p>
						</div>
					</div>
					<div class="logo-center">
						<div><img src="//14517553.s61i.faiusr.com/4/AD0IsYr2BhAEGAAg4920zAUoiOa1_AYwjQI4Gg.png.webp" alt="">
						</div>
						<div>
							<p>品质为上、精益求精、安全守信、永续创新</p>
						</div>
					</div>
					<div class="logo-right">
						<div><img src="//14517553.s61i.faiusr.com/4/AD0IsYr2BhAEGAAgvt60zAUomKvG_gIwOjg6.png" alt=""></div>
						<div class="logo-right-text">
							<p>全国免费咨询热线：</p>
							<p>000-0000000</p>
						</div>
					</div>
				</div>

				<div class="tabar">
					<ul class="taber_item">
						<li><a href="../../index.html">首页</a></li>
						<li><a href="../serve/serve.html">服务范围</a></li>
						<li class="activea"><a href="../case/caselist.html?fatherID=1">工程案例</a></li>
						<li><a href="../journalism/journalism.html">新闻动态</a></li>
						<li><a href="../message/message.html">招聘信息</a></li>
						<li id="tabli">
							关于我们
							<ul class="showlist">
								<span></span>
								<li><a href="../my/introduce.html">公司介绍</a></li>
								<li><a href="../my/culture.html">企业文化</a></li>
								<li><a href="../my/relation.html">联系我们</a></li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
			<!-- 头部结束 -->

			<div class="messagepage">
				<div class="messagepage-container">
					<div class="messagepage-top">
						<div class="messagepage-top-img">
							<div class="top-img-show"><img src="//14517553.s61i.faiusr.com/2/AD0IsYr2BhACGAAgwqS1zAUo-On85AYwuQc4kAM.jpg" alt=""></div>
							<div class="top-img-list">
								<ul class="img-list-item">
									<li><img src="//14517553.s61i.faiusr.com/2/AD0IsYr2BhACGAAgwqS1zAUo-On85AYwuQc4kAM.jpg" alt=""></li>
									<li><img src="//14517553.s61i.faiusr.com/2/AD0IsYr2BhACGAAgwqS1zAUo-On85AYwuQc4kAM.jpg" alt=""></li>
									<li><img src="//14517553.s61i.faiusr.com/2/AD0IsYr2BhACGAAgwqS1zAUo-On85AYwuQc4kAM.jpg" alt=""></li>
									<li><img src="//14517553.s61i.faiusr.com/2/AD0IsYr2BhACGAAgwqS1zAUo-On85AYwuQc4kAM.jpg" alt=""></li>
								</ul>
							</div>
						</div>
						<div class="messagepage-top-list">
							<h4>宝安区 | 手机厂普工月8千白班</h4>
							<p>入职要求：<span>18-45岁 | 男女不限 | 初中以上学历</span></p>
							<p>入职人数：<span>本周已有85+人申请入职</span></p>
							<p>工作地址：<span>宝安全部地区一以及周边各省市</span></p>
						</div>
					</div>
					<div class="messagepage-des">
						<div class="messagepage-title">
							<p class="messagepage-title-title">职位描述</p>
							<p>特别声明：用人单位以任何名义收取报名费，介绍费，培训费，押金等属于诈骗，可点此处此向我们举报。举报电话：400-8018-502</p>
						</div>
						<div class="messagepage-text">
							<div class="messagepage-job">
								<p>因新开产线，岗位目前可以自由选择，长白班：</p>
								<p>部门：组装部门，包装部门，质检部门：任选，都可以自由选择。</p>
								<p>当天安排面试、当天安排入职、当天安排住宿、免费包吃包住：不需要一分钱：</p>
								<p>综合6000-8500元/月左右。（可以长期做：也可以短期工：自己做多久自己选择：离职结清工资）：</p>
								<p>初五到初十，入职有开年大红包，名额有限、先到先得！！</p>
								<p>新年招聘，推荐有奖：推荐朋友入职奖励300-1000，奖励丰厚！！！</p>
							</div>
							<div class="messagepage-job-list">
								<div class="job-list-item">
									<h5>一、厂区服务</h5>
									<p>1、错过面试的朋友，请不要担心，也不用浪费钱去住宿旅馆，我们会给你安排免费住宿，第二天再面试入职；</p>
									<p>2、全程贴心服务，完成面试、体检、入职、住宿、报到，省时省力，尽快入职 ；</p>
									<p>3、面试入职之后，持厂牌可去饭堂吃饭，以及在厂区士多消费。</p>
								</div>
								<div class="job-list-item">
									<h5>二、岗位职责：</h5>
									<p>1、普工、操作工、质检员、组装工、包装工、学徒工、品管员、巡检、文员、物料、线外、测试、CNC学徒等等。</p>
									<p>2、主要从事产品、手机配件和配件等制造工艺，工作轻松简单：一看就会：无需经验：</p>
								</div>
								<div class="job-list-item">
									<h5>三、薪资待遇：</h5>
									<p>小时工:1、20-28元／小时，月保底260-300小时；</p>
									<p>2、月综合工资6000-8500元；</p>
								</div>
								<div class="job-list-item">
									<h5>正式工:</h5>
									<p>1、一个月基本底薪：2500元/月-2650元/月，</p>
									<p>2、加班统一按按劳动法，周一至周五（1.5倍工资），周六至周日（2倍工资），法定节假日（3倍工资）；月综合工资6000-8500元；</p>
								</div>
								<div class="job-list-item">
									<h5>工资发放：</h5>
									<p>1、工资统一以打卡方式或者现金发放</p>
									<p>2、员工离职之后，及时结清全部工资。绝不拖欠工资；</p>
								</div>
							</div>
							<div class="job-welfare">
								<h5>五、福利待遇：</h5>
								<p>1、入职即买五险一金，公司为每个员工购买养老、婚育、工伤、失业、医疗等保险，还有住房公积金。</p>
								<p>2、饭堂提供自助餐模式，迎合南北饮食差异，工作餐有米饭套餐、面条、水饺馒头、面包牛奶、鸡腿、鸡蛋等等；</p>
								<p>3、公寓式宿舍，4-6人／间，设备齐全，空调、衣柜、饮水机和热水器，独立阳台及卫生间，24小时WiFi覆盖；</p>
								<p>4、员工享有国家法定假15天，享有工伤假、婚假、丧假、产假、带薪年休假等假期；</p>
								<p>5、每个季度免费组织员工旅游，逢节假日举办大型文艺活动，以及抽奖、抢红包等娱乐；</p>
								<p>6、厂区内各种生活娱乐设施一应俱全，应有尽有，医院、邮局、球场、网吧；</p>
								<p>7、统一发放员工生日福利，以及端午、中秋等节日礼金，春节也有开工红包，年末有年终奖2000-4000不等，视乎公司经营业绩而定。</p>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="footer-bottom">
				<div class="footer-bottom-item">
					<p>
						<span><a href="">手机版</a><span>|</span><span>本站使用</span></span>
						<span><a href=""><span class="security"></span>发就发吧</a></span>
					</p>
				</div>
			</div>

		</div>

		<script src="https://s3.pstatp.com/cdn/expire-1-M/jquery/3.2.1/jquery.min.js"></script>
		<script src="../../js/headerFooter.js"></script>
	</body>
</html>
